<!DOCTYPE html>
<html>
  <head>
    <title>GymWorkoutTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "Workouts", workouts_path %>
      <%= link_to "Exercises", exercises_path %>
      <%= link_to "Categories", categories_path %>
      <%= link_to "About", about_path %>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>